@use "sass:map";
@use '../../shared/styles/vars' as *;
@use '../../shared/styles/mixins' as *;

.footer {
  max-width: 100vw;
  overflow-x: hidden;
  box-shadow: 0px -1px 0px 0px #{map.get($colors, 'platinum')};
  padding-block: map.get($spacing, "xl");
  padding-inline: map.get($spacing, "md");

  @include on-tablet {
    padding-inline: map.get($spacing, "lg");
  }
  @include on-desktop {
    padding-inline: map.get($spacing, "xl");
  }

  
  &__container {
    max-width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: map.get($spacing, "xl");

    @include on-tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }


    @include on-desktop {
      max-width: $max-container-width;
      }
    }


  &__logo {

    svg {
      width: 89px;
      height: 32px;

      path:not(#no-fill) {
        fill: var(--icon-color);
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, "md");
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4%;
    text-transform: uppercase;

    color: #{map.get($colors, 'gray-light')};
    letter-spacing: 0.05em;

    @include on-tablet {
      flex-direction: row;
      gap: 13.5px;
    }

      @include on-desktop {
      gap: 107px;
    }
  }

  &__nav-item {
    text-decoration: none;
    color: #{map.get($colors, 'gray-light')};
    transition: 0.2s;

    &:hover {
      color: var(--text-color);
    }
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #{map.get($colors, 'gray-light')};

    @include on-tablet {
      width: auto;
    }
  }
}


.footer-map {
  width: 100%;
  height: 400px;
}