@use 'sass:map';
@use '../../shared/styles/vars' as *;
@use '../../shared/styles/mixins' as *;

.checkout {
  display: grid;
  gap: map.get($spacing, 'md');
  padding-block: map.get($spacing, 'md');

  grid-template-columns: 1fr;

  &__section {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
    width: 100%;
  }

  &__section:nth-child(1) {
    order: 2;
  }
  &__section:nth-child(2) {
    order: 1;
  }
  &__section:nth-child(3) {
    order: 3;
  }

  @include on-desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    &__section:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / span 2;
      order: initial;
    }

    &__section:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
      order: initial;
    }

    &__section:nth-child(3) {
      grid-column: 2;
      grid-row: 2;
      order: initial;
    }
  }

  &__section:nth-child(2),
  &__section:nth-child(3) {
    padding: map.get($spacing, 'xl');
    background-color: #fff;
  }
}

[data-theme='dark'] {
  .checkout__section:nth-child(2),
  .checkout__section:nth-child(3) {
    background-color: var(--bg-color-lighter);
  }
}
