@use 'sass:map';
@use '../../styles/vars' as *;

.password-input {
  display: flex;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--bg-color-lighter);
  padding: 0 map.get($spacing, 'md');
  gap: map.get($spacing, 'sm');

  &__input,
  &__toggle {
    all: unset;
    box-sizing: border-box;
    height: 18px;
    color: inherit;
    line-height: 1;
    outline: none !important;
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 0.5px;
  }

  &:focus-within {
    outline: 2px solid var(--text-color);
    outline-offset: 2px;
  }
}
