@use 'sass:map';
@use '../../shared/styles/vars' as *;
@use '../../shared/styles/mixins' as *;

.favorite {
  &__breadcrumbs {
    margin-block: map.get($spacing, 'lg');
    margin-block: map.get($spacing, 'xl');

    @include on-tablet {
      margin-bottom: map.get($spacing, '2xl');
    }
  }

  &__count {
    margin-top: 8px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: map.get($colors, 'gray-light');

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__list {
    @include grid(1);
    justify-content: center;

    @include on-tablet {
      @include grid(2);
    }

    @include on-desktop {
      @include grid(4);
    }
  }
  
  &__item {
    display: flex;
    justify-content: center;
  }

}
