@use 'sass:map';
@use '../../../../shared/styles/vars' as *;
@use '../../../../shared/styles/mixins' as *;

.creator-slider {
  &__image-wrapper {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    height: 700px;

    @include on-desktop {
      max-width: 350px;
      max-height: 400px;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .swiper-slide {
    height: 100%;

    @include on-desktop {
      height: 400px;
    }
  }

  .swiper-pagination {
    bottom: 12px;

    &-bullet {
      width: 10px;
      height: 10px;
      background: map.get($colors, 'white');
      opacity: 1;
      border-radius: 4px;
      margin: 0 6px;
      transition: 0.3s;

      &-active {
        background: map.get($colors, 'red');
        width: 24px;
        border-radius: 4px;
      }
    }
  }
}
