@use 'sass:map';
@use '../../../../shared/styles/vars' as *;

.checkout-list {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'xl');
  justify-content: center;
  align-items: center;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
  }

  &__currency-chart {
    width: 100%;
  }

  .cart-item {
    border: none;
    padding: 0;
  }
}
