@use 'sass:map';
@use '../../../shared/styles/vars' as *;
@use '../../../shared/styles/mixins' as *;

.auth-slider {
  position: relative;
  max-width: var(--auth-block-width);
  height:  400px;

  @include on-desktop {
    height: 550px;
  }

  width: 100%;
  margin: 0 auto;

  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .swiper-pagination {
    bottom: 12px;

    &-bullet {
      width: 10px;
      height: 10px;
      background: map.get($colors, 'white');
      opacity: 1;
      border-radius: 4px;
      margin: 0 6px;
      transition: 0.3s;

      &-active {
        background: map.get($colors, 'purple');
        width: 24px;
        border-radius: 4px;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;

    position: absolute;
    z-index: 1;
    top: map.get($spacing, 'md');
    right: map.get($spacing, 'md');
    color: map.get($colors, 'white');
    background-color: #5a5a5aa0;
    padding: map.get($spacing, '3xs') map.get($spacing, 'md');
    border-radius: 20px;
    font-size: 12px;
    backdrop-filter: blur(10px);

    &:hover {
      svg {
        transform: translateX(3px);
      }
    }

    svg {
      width: 20px;
      margin-left: map.get($spacing, 'xs');
      transition: transform $base-transition ease;

      path {
        fill: map.get($colors, 'white');
      }
    }
  }
}
