@use '../../../../shared/styles/mixins' as *;
@use '../../../../shared/styles/vars' as *;

.product-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__main {
    order: 1;
    width: 350px;
    height: 350px;
    overflow: hidden;

    @include on-desktop {
      width: 464px;
      height: 464px;
      order: 2;
      margin: 0;
    }

    &-slide {
      height: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__thumbs {
    order: 2;
    height: 50px;
    overflow: hidden;

    .swiper-wrapper {
      flex-direction: row !important;
      gap: 16px;
      justify-content: space-between;

      @include on-desktop {
        flex-direction: column !important;
      }
    }

    .swiper-slide {
      opacity: 0.6;
      cursor: pointer;
      transition: 0.2s ease;

      &-thumb-active {
        border-color: var(--text-color);
        opacity: 1;
      }
    }

    @include on-tablet {
      height: 80px;
    }

    @include on-desktop {
      order: 1;
      width: 90px;
      height: 100%;
      margin: 0;
    }
  }

  &__thumb {
    border: $border;
    padding: 5px;
    width: 50px;
    height: 50px !important;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include on-tablet {
      width: 80px;
      height: 80px !important;
    }

    @include on-desktop {
      width: 80px;
      height: 80px !important;
    }
  }

  @include on-desktop {
    flex-direction: row;
    align-items: flex-start;
  }
}
