*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
  background: initial;
  outline: none;
}

button:focus,
button:focus-visible,
button:active {
  outline: none;
  box-shadow: none;
}

textarea {
  resize: vertical;
}

button,
input,
textarea,
select {
  line-height: normal;
  font: unset;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:focus {
  outline: auto;
}
