@use '../../shared/styles/mixins' as *;
@use '../../shared/styles/theme' as *;
@use '../../shared/styles/vars' as *;
@use 'sass:map';

.product-card {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  padding: map.get($spacing, "lg");
  background: var(--bg-color-lighter);
  border: $border;
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'sm');

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    @include on-tablet {
      height: 300px;
    }

    @include on-desktop {
      height: 200px;
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &__title {
    padding-top: map.get($spacing, 'md');
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: var(--text-color);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__top {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'sm');
  }

  &__actions {
    margin-top: auto;
    display: flex;
    gap: map.get($spacing, 'sm');
  }

  &__price {
    display: flex;
    align-items: center;
    gap: map.get($spacing, 'sm');

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &-current {
      font-size: 22px;
      font-weight: 700;
      line-height: 140%;
    }

    &-old {
      font-size: 22px;
      font-weight: 500;
      color: #{map.get($colors, 'gray')};
      text-decoration: line-through;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: #{map.get($colors, 'platinum')};
  }

  &__specs {
    list-style: none;
    padding-block: map.get($spacing, 'sm');
    gap: map.get($spacing, 'sm');
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      gap: map.get($spacing, 'md');
      font-size: 12px;
      font-weight: 600;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      span:nth-child(2) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .spec-name {
        color: #{map.get($colors, 'gray')};
      }
    }
  }

  &__actions {
    display: flex;
    gap: map.get($spacing, 'sm');
  }
}

[data-theme='dark'] {
  .product-card {
    border: none;
  }
}
