@use '../../../../shared/styles/vars' as *;
@use '../../../../shared/styles/mixins' as *;
@use 'sass:map';

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: $border;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    gap: 24px;
  }

  @include on-desktop {
    max-width: 752px;
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;

    @include on-tablet {
      gap: 24px;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @include on-tablet {
      max-width: 240px;
      gap: 24px;
    }
  }

  &__remove {
    background: transparent;
    cursor: pointer;

    width: 16px;
    height: 16px;
    font-size: 24px;
    font-weight: 100;
    color: map.get($colors, 'silver');

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image_wrapper {
    width: 80px;
    height: 80px;
    padding: 7px;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    flex-grow: 1;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--text-color);

    @media (max-width: 768px) {
      order: 2;
    }
  }

  &__quantity {
    @media (max-width: 768px) {
      order: 3;
    }
  }

  &__price {
    white-space: nowrap;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: right;
    color: var(--text-color);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media (max-width: 768px) {
      order: 4;
    }
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
    gap: map.get($spacing, 'md');
  }
}
