@use 'sass:map';
@use '../../styles/vars' as *;

.full-screen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    margin-top: map.get($spacing, 'xl');
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: map.get($spacing, 'sm');
  }
}

[data-theme='dark'] {
  .full-screen-modal {
    &__backdrop {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
