@use '../../../../shared/styles/theme' as *;

.quantity-control {
  width: 96px;
  display: flex;
  gap: 8px; 
  align-items: center;
  justify-content: space-between;

  &__quantity {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--text-color);
    }

}