@use 'sass:map';
@use '../../../shared/styles/vars' as *;

.toggle-switch {
  display: flex;
  align-items: center;
  gap: map.get($spacing, 'md');

  &__label {
    font-size: 14px;
    font-weight: 500;
  }

  &__root {
    width: 46px;
    height: 24px;
    background-color: #d1d1d1;
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    transition: background 0.25s ease;
    overflow: hidden; // ensures icons stay clipped inside

    &[data-state='checked'] {
      background-color: map.get($colors, 'red');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  /* Icons inside the switch track */
  &__track-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    fill: #666;
    opacity: 0.7;
    pointer-events: none;

    svg {
      width: 100%;
      height: 100%;
    }

    &--left {
      left: 6px;
    }

    &--right {
      right: 6px;
    }
  }

  &__thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
    transition: transform 0.25s ease;

    [data-state='checked'] & {
      transform: translateX(22px);
    }
  }
}
