@use 'sass:map';
@use '../../styles/vars' as *;

.bread-crumb {
  display: flex;
  gap: map.get($spacing, 'sm');
  height: 20px;
  align-items: center;
  color: var(--nav-not-active-link);

  svg {
    path {
      fill: var(--nav-not-active-link);
    }
  }

  &__link {
    font-weight: 500;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }
}
