@use 'sass:map';
@use '../../styles/vars' as *;

.radio-group {
  &__root {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'sm');
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
    gap: map.get($spacing, 'sm');
  }

  &__item {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
    border: 2px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__indicator {
    width: 10px;
    height: 10px;
    background-color: map.get($colors, 'red');
    border-radius: 50%;
  }

  &__label {
    font-size: 14px;
    cursor: pointer;
  }
}
