@use 'sass:map';
@use '../../shared/styles/vars' as *;
@use '../../shared/styles/mixins' as *;

._404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: map.get($spacing, 'lg');

  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: map.get($colors, 'dark');

  &__title {
    font-size: 92px;
    margin-bottom: map.get($spacing, 'lg');
  }

  &__subtitle {
    text-transform: capitalize;
    margin-bottom: map.get($spacing, 'md');
  }

  &__gif {
    height: 300px;
  }

  button {
    max-width: 200px;
    background-color: map.get($colors, 'dark');
    padding-inline: 25px;
  }
}
